* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #201a24, #18131c);
  color: #ffffff;
}
.main{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first__block{
  padding-top: 30px;
  height: 420px;
  width: 100%;
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom,  #222224, #2b2a2e);
  text-align: center;
  justify-content: center;
}

.second__block{
  position: relative;
  height: 700px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(to bottom, #2b2a2e, #222224);
  padding: 20px 15px 15px 15px;
}

.contactButton {
  height: 45px;
  width: 220px;
  display: block;
  background-color: #392e40; 
  color: #fff;
  margin: 20px auto;
  border-radius: 20px;
  border: 3px solid #18131c;
}

.person__name{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
}

.person__job{
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  margin-bottom: 25px;
}

img{
  width: 160px;
  height: 187px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.hero__links {
  display: flex;
}

.hero__link {
  margin-right: 10px;
  font-size: 30px;
  color: #ffffff;
  transition: color 0.3s;
  text-decoration: none;
}

.hero__link:hover {
  color: deepskyblue ;
}

.job__year{
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}

.qualities{
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.years{
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  padding-bottom: 15px;
}
.person__text{
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  line-height: 130%;
}

.line{
  border-bottom: 1px #ffffff solid;
}


